html * {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	color:#62C109;
	padding-bottom:50px;
	padding-top:50px;
}

h4 {
    color: #000;
}

.publications-content {
    padding-left: 10%;
    padding-right: 10%;
}